<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ainnomix_EntityTypeManager::entity_type_manager" title="Entity Type Manager" translate="title" module="Ainnomix_EntityTypeManager" sortOrder="60" dependsOnModule="Ainnomix_EntityTypeManager" resource="Ainnomix_EntityTypeManager::entity_type_manager"/>
        <add id="Ainnomix_EntityTypeManager::manage_entity_types" title="Manage Entity Types" translate="title" module="Ainnomix_EntityTypeManager" sortOrder="10" parent="Ainnomix_EntityTypeManager::entity_type_manager" action="entity_type_manager/entity_type/index" resource="Ainnomix_EntityTypeManager::manage_entity_types"/>
    </menu>
</config>
