<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ainnomix\EntityManager\Api\Data\EntityTypeInterface" type="Magento\Eav\Model\Entity\Type" />
    <preference for="Ainnomix\EntityManager\Api\EntityTypeRepositoryInterface" type="Ainnomix\EntityManager\Model\Entity\Type\EntityTypeRepository" />
    <preference for="Ainnomix\EntityManager\Api\EntityTypeManagerInterface" type="Ainnomix\EntityManager\Model\Entity\Type\EntityTypeManager" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="custom_entities_listing_data_source" xsi:type="string">Ainnomix\EntityManager\Model\ResourceModel\Entity\Type\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
