<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="entityTypesMenu" type="Ainnomix\EntityTypeManager\Plugin\Menu\Builder" />
    </type>
    <type name="Magento\Framework\Acl\AclResource\Provider">
        <plugin name="entityTypesMenuAcl" type="Ainnomix\EntityTypeManager\Plugin\Menu\Acl\Provider" />
    </type>
</config>
